<div id="urnik" class="cel">
    <div id="dnevi">
            <div class="dan" style="left: 0.00%">
            ponedeljek
        </div>
        
            <div class="dan" style="left: 20.00%">
            torek
        </div>
        
            <div class="dan" style="left: 40.00%">
            sreda
        </div>
        
            <div class="dan" style="left: 60.00%">
            četrtek
        </div>
        
            <div class="dan" style="left: 80.00%">
            petek
        </div>
        </div>
    <div id="ure">
            <div class="ura" style="bottom: 100.00%">
            <span>7</span>
        </div>
        
            <div class="ura" style="bottom: 92.31%">
            <span>8</span>
        </div>
        
            <div class="ura" style="bottom: 84.62%">
            <span>9</span>
        </div>
        
            <div class="ura" style="bottom: 76.92%">
            <span>10</span>
        </div>
        
            <div class="ura" style="bottom: 69.23%">
            <span>11</span>
        </div>
        
            <div class="ura" style="bottom: 61.54%">
            <span>12</span>
        </div>
        
            <div class="ura" style="bottom: 53.85%">
            <span>13</span>
        </div>
        
            <div class="ura" style="bottom: 46.15%">
            <span>14</span>
        </div>
        
            <div class="ura" style="bottom: 38.46%">
            <span>15</span>
        </div>
        
            <div class="ura" style="bottom: 30.77%">
            <span>16</span>
        </div>
        
            <div class="ura" style="bottom: 23.08%">
            <span>17</span>
        </div>
        
            <div class="ura" style="bottom: 15.38%">
            <span>18</span>
        </div>
        
            <div class="ura" style="bottom: 7.69%">
            <span>19</span>
        </div>
        </div>
